<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json Array</title>
</head>
<body>

<!-- IMPORTANT -->
<!-- this is Javascript, not Go code -->
<script>
    var cities = [
        {
            "precision": "zip",
            "Latitude":  37.7668,
            "Longitude": -122.3959,
            "Address":   "",
            "City":      "SAN FRANCISCO",
            "State":     "CA",
            "Zip":       "94107",
            "Country":   "US"
        },
        {
            "precision": "zip",
            "Latitude":  37.371991,
            "Longitude": -122.026020,
            "Address":   "",
            "City":      "SUNNYVALE",
            "State":     "CA",
            "Zip":       "94085",
            "Country":   "US"
        }
    ];
    document.write("<u>First City with 0 as Index in array cities:</u><br>");
    document.write("City : ",cities[0].City);
    document.write("<br>");
    document.write("Latitude : ",cities[0].Latitude);
    document.write("<br>");
    document.write("Longitude : ",cities[0].Longitude);
    document.write("<br>");
    document.write("<u>Second City with 1 as Index in array cities:</u><br>");
    document.write("City : ",cities[1].City);
    document.write("<br>");
    document.write("Latitude : ",cities[1].Latitude);
    document.write("<br>");
    document.write("Longitude : ",cities[1].Longitude);
    document.write("<br>");
    <!--stringify-->
    var transmit=JSON.stringify(cities);
    document.write(transmit);
    <!--ends stringify-->
</script>
</body>
</html>

<!--NOTES-->
<!--

zero based index

-->