<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json Object</title>
</head>
<body>
<!-- IMPORTANT -->
<!-- this is Javascript, not Go code -->
<script>
    var picture = {
        "Width":  800,
        "Height": 600,
        "Title":  "View of the golang logo",
        "Thumbnail": {
            "Url":    `<img src="http://7xlx3k.com1.z0.glb.clouddn.com/golang.jpg">`,
            "Height": 125,
            "Width":  100
        },
        "Animated" : false,
        "IDs": [116, 943, 234, 38793]
    };

    document.write(picture.Width);
    document.write("<br>");
    document.write(picture.Height);
    document.write("<br>");
    document.write(picture.Title);
    document.write("<br>");
    document.write(picture.Thumbnail.Url);
    document.write("<br>");
    document.write(picture.Animated);
    document.write("<br>");
    document.write(picture.IDs);
    document.write("<br>");
    document.write(picture.IDs[0]);
    document.write("<br>");
    document.write(picture.IDs[3]);
</script>
</body>
</html>