<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Index</title>
</head>
<body>

<strong>INDEX</strong><br>
<a href="/index">Index</a><br>
<a href="/login">Login</a><br>
<a href="/contact">Contact</a><br>
<a href="/about">About</a><br>

<h4>Index page is loaded</h4>

</body>
</html>